
$attribution-a: hsl(0, 0%, 0%);
$attribution: 11px;
$almost-white: hsl(0, 0%, 98%);
$margin: 2rem 0 0;
$margin2: 2rem 0 0 5rem;
$margin-auto-center: 0 0 0 auto;
$gray: hsl(0, 0%, 41%);
$paragraphs-color: hsl(0, 0%, 8%);
$font-weight: (
    "medium": 500,
    "bigger": 700
);
$font-size: 1.125rem;
$nav-margins: 0 1rem;
$nav-margins-secondary: 0 0 0 auto;
$width: 90%;
$width100: 100%;

